@model AppVendas.Application.ViewModels.EstoqueViewModel


@{
    ViewBag.Title = "Adicionar";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <h4>@ViewBag.Title</h4>
    <hr />

    @Html.Partial("ErrorSummary")

    <div class="form-group">
        @Html.LabelFor(model => model.ProdutoId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ProdutoId, (IEnumerable<SelectListItem>)ViewBag.Produtos, "Selecione",
           htmlAttributes: new { @class = "form-control", @id = "drop"})

            @Html.ValidationMessageFor(model => model.ProdutoId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Adicionar" class="btn btn-success" />
            <a href="@Url.Action("Index")" class="btn btn-primary">Voltar</a>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
